</main>

<footer>
	<div class="container flex footer-container">
		<div id="copyright">
			<p>
				© 2024-{{ site.time | date: '%Y' }} Jan Havlíček.<br>
			</p>
		</div>
		<div id="sitemap">
			<ul class="sitemap-group">
				<li><strong>Get ClosedXML</strong></li>
				<li><a href="https://www.nuget.org/packages/ClosedXML">NuGet</a></li>
				<li><a href="https://github.com/ClosedXML/ClosedXML/">Source code</a></li>
			</ul>
			<ul class="sitemap-group">
				<li><strong>Info</strong></li>
				<li><a href="https://docs.closedxml.io">Documentation</a></li>
				<li><a href="https://github.com/ClosedXML/ClosedXML/blob/develop/LICENSE">License</a></li>
			</ul>
		</div>
		<div id="social" class="dark-desaturate">
			<div class="flex justify-space-between" style="gap: 3px;">
				<a href="https://github.com/ClosedXML/ClosedXML" target="_blank" rel="noopener">
					<img src="/assets/footer/github_logo.svg" width="32" height="32" alt="GitHub">
				</a>
				<a href="/rss.xml" target="_blank" rel="noopener">
					<!-- Icon is called `feed` instead of `rss` to prevent content blockers from blocking the icon -->
					<img src="/assets/footer/feed_logo.svg" width="32" height="32" alt="RSS feed">
				</a>
				<a href="https://twitter.com/closedxml" target="_blank" rel="noopener">
					<img src="/assets/footer/twitter_logo.svg" width="32" height="32" alt="Twitter">
				</a>
			</div>
		</div>
	</div>
</footer>
